<% layout('layout') %>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <img src="<%= product.image %>">
    </div>

    <div class="col-md-4">
      
    </div>

    <div class="col-md-4">
      <h3><%= product.name %></h3>
      <p><%= product.price %></p>

      <form action="/product/<%= product._id %>" method="post">

        <div class="btn-group" role="group" aria-label="...">
            <input type="hidden" name="quantity" value="1" id="quantity">
            <button type="button" name="minus" class="btn btn-default" id="minus">-</button>
            <button type="button" name="total" class="btn btn-default" id="total">1</button>
            <button type="button" name="plus" class="btn btn-default" id="plus">+</button>
        </div>

        <div class="form-group">
            <input type="hidden" name="product_id" value="<%= product._id %>">
            <input type="hidden" name="priceHidden" id="priceHidden" value="<%= product.price %>">

            <input type="text" name="item" class="form-control" value="<%= product.name %>">
            <input type="text" name="priceValue" class="form-control" id="priceValue" value="<%= product.price %>">
        </div>

        <% if (user) { %>
          <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
        <% } else { %>
          <button type="/signup" class="btn btn-primary btn-lg">Signup to begin buying!</button>
        <% } %>

      </form>

    </div>
  </div>

</div>